/* main.css */

* {
    box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.container {
  display:flex;
  justify-content:center space-around;
  flex-direction:column;
  flex-wrap:wrap;
}



/* The animation code */
    @-webkit-keyframes whirlwind {
      from {align-content: center;}
      } to {align-content: flex-start;}

}
.cat {
  display:flex;
  width: 10%;
  height: auto;
  -webkit-animation-name: whirlwind;
  -webkit-animation-duration: 8s;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

p::first-line {
   color: cornflowerblue;
   font-family:
}

.rhyme-header {
    color: darkgray;
    font-style: italic;
}

/* TODO: size images manually so this is not necessary */


/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

h1 .logo-w {
  background-color: white;
  color: cornflowerblue;
  font-size: 5rem;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  display: block;
  padding: 0 .75rem;
}

.scarf {
  display:inline-block;
  padding: .25rem;
  border: 1px solid #BFC9CA;
  border-radius: 5px
  max-width: 30%;

}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}
